<div class="table-full">
    <div class="verMiddle">
        <div class="slickMain">
            <ul class="rslides" id="slider">
                <li>
                    <div class="verCenter">
                        <div class="blueCon mCustomScrollbar">
                            <div class="comBlue">
                                <a href="#" title="Engineering" class="figA">
                                    <figure>
                                        <img src="@Url.Content("~/Images/eng.png")" alt="Engineering">
                                        <img src="@Url.Content("~/Images/eng-hvr.png")" class="hoverImg" alt="Engineering">
                                        <figcaption>Engineering</figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="comBlue">
                                <a href="#" title="Medical" class="figA">
                                    <figure>
                                        <img src="@Url.Content("~/images/madi.png")" alt="Medical">
                                        <img src="@Url.Content("~/images/madi-hvr.png")" class="hoverImg" alt="Medical">
                                        <figcaption>Medical</figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="comBlue">
                                <a href="#" title="School" class="figA">
                                    <figure>
                                        <img src="@Url.Content("~/Images/school.png")" alt="School">
                                        <img src="@Url.Content("~/images/school-hvr.png")" class="hoverImg" alt="School">
                                        <figcaption>School</figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="comBlue">
                                <a href="#" title="Science" class="figA">
                                    <figure>
                                        <img src="@Url.Content("~/Images/sci.png")" alt="Science">
                                        <img src="@Url.Content("~/Images/sci-hvr.png")" class="hoverImg" alt="Science">
                                        <figcaption>Science</figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="comBlue">
                                <a href="#" title="Kids" class="figA">
                                    <figure>
                                        <img src="@Url.Content("~/Images/kids.png")" alt="Kids">
                                        <img src="@Url.Content("~/Images/kids-hvr.png")" class="hoverImg" alt="Kids">
                                        <figcaption>Kids</figcaption>
                                    </figure>
                                </a>
                            </div>
                            <div class="comBlue">
                                <a href="#" title="Engineering" class="figA">
                                    <figure>
                                        <img src="@Url.Content("~/Images/prof.png")" alt="Professionals">
                                        <img src="@Url.Content("~/Images/prof-hvr.png")" class="hoverImg" alt="Professionals">
                                        <figcaption>Professionals</figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                        <div class="moreLinks">
                            <a href="#" title="Biographies" class="trans linkMain">Biographies</a>
                            <a href="#" title="Romance" class="trans linkMain">Romance</a>
                            <a href="#" title="Spirituality" class="trans linkMain">Spirituality</a>
                            <a href="#" title="More" class="trans linkMain">More...</a>
                        </div>
                    </div>
                    <div class="mainLib"><span>Library</span></div>
                </li>


            </ul>
        </div>
    </div>
</div>