<!DOCTYPE html>
@{
    @Html.Partial("_BlankLayout")
}
<html>
<head>
  
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
