<!DOCTYPE html>
@{
    @Html.Partial("_BlankLayout")
}
<html>
<head>
   
</head>
<body>
    @*<div id="loadingDisplay" class="progressBarLoad">
        <h2>Loading...</h2>
        <div class="progress progress-striped ">
            <div id="loadProgressBar" class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
        </div>
    </div>*@
    <div class="headerMain">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12 logoMain">
                    <a href="@Url.Action("~/Login/Login")" title="Barter Buddy"><img src="@Url.Content("~/images/logo.png")" /></a>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12 LoginRight ">
                    <div class="menuMain">
                        <div class="menuIcon">
                            <span class="oneS"></span>
                            <span class="twoS"></span>
                            <span class="treS"></span>
                        </div>
                        <div class="menuHere" style="text-align:right">
                            @Html.Partial("DraggebleMenu");
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   @*  <div class="container body-content" he>
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@

    <section>
        <div class="centerMain">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-5 col-sm-12 col-xs-12 blueMain ">
                        

                        @Html.Partial("_blueSquareMenu");
                    </div>
                    <div class="col-md-7 col-sm-12 col-xs-12">
                        <div class="verMiddle">
                            <div class="tp-banner-container">
                                <div class="tp-banner">
                                    <ul>
                                        <!-- SLIDE  -->

                                       
                                        <div class="container body-content" he>
                                            @RenderBody()
                                        </div>

                                    
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footerMain">
            <div class="container-fluid">
                <div class="col-md-6 col-xs-12 col-sm-6 copyMain">
                    <div class="copyRight"
                        <span> &copy; Buy Sale Books.com - </span><a href="#" title="Privacy Policy" class="trans">Privacy Policy</a>
                    </div>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-6 workMain">
                    <div class="howWork"><a href="#" class="trans howW">How it works...</a></div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
